<div class="main-content row justify-content-center">

  <!-- Event search form -->
  <div class="search-form jumbotron col-9 row justify-content-center">
    <h1 class="col-8">Entertainment Event Ticket Search</h1>

    <div class = "col-9">
    <form #eventSearch="ngForm" (ngSubmit)="onSubmit($event)">
      <!-- Keyword -->
      <div class="row mb-3">
        <label for="keyword" class="col-3 col-form-label">Keyword</label>
        <div class="col">
            <input type="text" class="form-control" id="keyword" name='keyword' matInput [matAutocomplete]="auto" value="" [(ngModel)]="eventInstance.keyword" (input)="callAutocomplete(eventInstance.keyword)"/>
            <mat-autocomplete #auto = "matAutocomplete">
              <mat-option *ngFor = "let option of autocompleteList" [value] = "option">
                  {{option}}
              </mat-option>
            </mat-autocomplete>
        </div>
      </div>
      <!-- Category -->
      <div class="row mb-3">
        <label for="category" class="col-3 col-form-label">Category</label>
        <div class="col-3">
            <select class="form-control" id="category" name='category' value="All" [(ngModel)]="eventInstance.category">
              <option selected> All </option>
              <option *ngFor='let category of category'> {{ category }}</option>
            </select>
        </div>
      </div>
      <!-- Distance -->
      <div class="row mb-3">
        <label for="distance" class="col-3 col-form-label">Distance</label>
        <div class="col-3">
          <input type="number" class="form-control" id="distance" name='distance' value="10" placeholder="10" [(ngModel)]="eventInstance.distance">
        </div>
        <div class="col-3">
            <select class="form-control" id="units" name='units' value="miles" [(ngModel)]="eventInstance.units">
              <option selected value="miles">Miles </option>
              <option value="km">Kilometers</option>
            </select>
        </div>
      </div>
      <!-- From -->
      <div class="row mb-3">
        <label for="from" class="col-3 col-form-label">From</label>
        <div class="col">
          <div class="form-check">
            <input type="radio" class="form-check-input" checked name="locationRadio" id="currentLocationRadio" value="currentLoc" (click)="clickOnRadio(1)" [(ngModel)]="eventInstance.radioValue">
            <label class="form-check-label">Current location</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" name="locationRadio" id="locationRadio" value="location" (click)="clickOnRadio(2)" [(ngModel)]="eventInstance.radioValue">
            <label class="form-check-label">Other, Please specify:</label>
          </div>
          <input type="text" class="form-control" id="location" name='locationInput' value="" [(ngModel)]="eventInstance.locVal" [disabled]="ifCurLocCheck"><!--true-->
        </div>
      </div>
      <button type="submit" class="btn btn-primary"><span class="material-icons" style="vertical-align:middle;">search</span>Search</button>
      <button type="reset" class="btn btn-light btn-outline-secondary ml-4" (click)="clearAll()"><span class="material-icons" style="vertical-align:middle;">clear_all</span>Clear</button>
    </form>
    </div>
  </div>

  <!-- Results / Favorite -->
  <!-- [class.active]="displayList == 'results'" rel="results" [ngClass]="{'btn-primary' : displayList == 'results', 'btn-light': displayList == 'favourites'}" -->
  <div class="result-options col-9 row justify-content-center">
      <button [class]="classResult" (click) = "clickOnResults()">Results</button>
      <button [class]="classFav" (click)="clickOnFavorite()">Favorite</button>
  </div>

  <div class="col-9 mt-5" *ngIf="isProgressVisible === true">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" [style.width]="dataAvailable+'%'"></div>
    </div>
  </div>

</div>

