.progress-wrapper{
  position: relative;
  width: 40px;
  height: 40px;
}
.progress-popularity{
  top: 20%;
  left: 30%;
  position: absolute;
  z-index: 9;
  font-size: 15px;
}
round-progress{
  position: absolute;
  top: 0;
  left: 0;
}

.twitter-btn{
  background-image: url('https://csci571.com/hw/hw8/images/Twitter.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-style: none;
  border: 0px;
  outline : none;
}

h2{
  font-size: xx-large;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 4%;
}

ul{
  margin-top: 1%;
}

